version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: event-processor-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: unless-stopped
    ports:
      - "5540:5540"
    depends_on:
      - redis
    environment:
      # Auto-add redis:6379
      REDIS_URI: "redis://redis:6379"

  consumer:
    build:
      context: .
      dockerfile: ci/Dockerfile.consumer
    container_name: event-processor-consumer
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped

  producer:
    build:
      context: .
      dockerfile: ci/Dockerfile.producer
    container_name: event-processor-producer
    environment:
      - CONSUMER_URL=http://consumer:8080
    depends_on:
      - consumer
    restart: "no"

volumes:
  redis-data:

